nightly/*
.DS_Store
[Ll]ibrary

Temp
*.csproj
*.pidb
*.sln
*.userprefs
*.unityproj
build

Build
*.orig

Assets/Main_.unity
*.csproj.user
UpgradeLog.*
_UpgradeReport_Files/
gomessagelog.txt
obj/
*.sln.DotSettings.user
*.v11.suo
*.v11.suo
.vs/
